@import "swiper/css";
@import "tailwindcss";


body {
  background-color: #f6c0b7;
  margin-bottom: 0 !important;
}
button {
  background-color: #8a1e23;
}
.faa {
  display: flex !important;
}
@font-face {
  font-family: AllGenders;
  src: url("./fonts/All-Genders-Regular-v4.ttf") format("truetype");
}
body {
  font-family: AllGenders !important;
}

.swiper {
  width: 200px;

  height: 200px;
}
.swiper-button-prev,
.swiper-button-next {
  font-size: 10px !important;
  color: #8a1e23 !important;
}
